# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# Output data
outputs/*.csv
outputs/*.txt

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db